@import 'main';

.ui-sortable > li, .ui-sortable-item {
    margin: 6px 0px;
    border: 1.5px dotted darkgray;
    background-color: white;
    text-align: center;
    user-select: none;
}

.column-title {
    font-family: Arial Narrow, Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    font-variant: small-caps;
}

.tasklist-state {
    margin-top: 10px;
    text-align: center;
}

.draggable {
    padding: 3px;
    background-color: #5f5f5f;
    text-align: center;
    color: lightgray;
    user-select: none;
}

#main-container .ui-sortable {
    margin: 10px;
}

.task-input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
}
